<h1>Books</h1>
<a href="/books/create" class="btn btn-success mb-3">Create</a>
<div class="row">
  {{#each books}}
{{!-- <a><a href="/books/{{this.id}}">{{this.title}}</a></a> --}}
    <div class="col-6 mb-3">
      {{>listItem this}}
    </div>
  {{/each}}
</div>