<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      {{this.title}}
    </h5>
    <p><small>{{this.author}}</small></p>
    <a href="/books/{{this.id}}" class="btn btn-info">
      See details
    </a>
    <a href="/books/{{this.id}}/edit" class="btn btn-success">
      Edit
    </a>
  </div>
</div>