<h1>Add New Student</h1>
<form action="/students" method="POST">
  
  <div class="form-group">
    <label for="exampleInputEmail1">Full Name</label>
    <input name="fullName" class="form-control" id="fullName" aria-describedby="emailHelp" placeholder="Insert student's full name">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Email</label>
    <input type="email" name="email" class="form-control" id="email" placeholder="Example: hello@world.com">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Username</label>
    <input name="username" class="form-control" id="username">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Pasword</label>
    <input type="password" name="password" class="form-control" id="username">
  </div>


  <button type="submit" class="btn btn-primary">Add</button>
  
</form>